<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038287139779-8l2t1npuifh9jln4vd9fo0cpsmdj884o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038287139779-8l2t1npuifh9jln4vd9fo0cpsmdj884o</string>
	<key>API_KEY</key>
	<string>AIzaSyBIMtheB_H1QT8gU2BiSbhuS-uCaKIp1oY</string>
	<key>GCM_SENDER_ID</key>
	<string>1038287139779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pasan.Pasan-Mihindu-Cobscomp182p-026</string>
	<key>PROJECT_ID</key>
	<string>nibmevents</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmevents.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038287139779:ios:b4d26db6d0b61cdb9bc376</string>
	<key>DATABASE_URL</key>
	<string>https://nibmevents.firebaseio.com</string>
</dict>
</plist>