<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pasan_Mihindu-Cobscomp182p-026.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Pasan_Mihindu-Cobscomp182p-026UITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E70ECF723F51B5400A2EA7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E70ED0E23F51B5500A2EA7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E70ED1923F51B5500A2EA7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
